.build_on_near {
  padding-top: 140px;
}

.btn_launch_app {
  margin: 44px auto 0 0 !important;
}
.main_img_big {
  position: absolute;
  top: 190px;
  right: 100px;
}
.deco_1 {
  position: absolute;
  top: 110px;
  left: 250px;
}
.deco_2 {
  position: absolute;
  top: 120px;
  right: 0px;
}
.deco_3 {
  position: absolute;
  top: 690px;
  right: 170px;
}

.logo_near {
  position: absolute;
  top: 120px;
  left: -80px;
}
.logo_usn {
  position: absolute;
  top: 50px;
  left: 800px;
}

.logo_eth {
  position: absolute;
  top: 620px;
  left: 430px;
}

.logo_bitcoin {
  position: absolute;
  top: 620px;
  right: -100px;
}

@media screen and (max-width: 1040px) {
  .container {
    min-width: auto;
    padding: 0 24px;
    overflow: hidden;
  }
  /* 
  .deco_1 {
    display: none;
  } */

  .main_img_big {
    right: -50px;
  }
}

@media screen and (max-width: 900px) {
  .home_page_container {
    min-width: auto;
    padding: 0 24px;
    overflow: hidden;
  }

  .main_img_big {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    text-align: center;
    width: 340px;
    margin: auto;
  }

  .logo_eth {
    position: absolute;
    top: 810px;
    left: -30px;
  }
  .logo_near {
    position: absolute;
    top: 120px;
    left: -44px;
  }

  .logo_bitcoin {
    position: absolute;
    top: 620px;
    right: -140px;
  }

  .deco_3 {
    display: none;
  }
  .deco_1 {
    position: absolute;
    top: 50px;
    left: 0;
  }

  .deco_2 {
    position: absolute;
    top: 50px;
    right: 0;
  }
}

@media screen and (max-width: 640px) {
  .deco_1 {
    display: none;
  }
}
